{% extends "id4me/base.html" %}

{% load i18n %}

{% block head_title %}OpenID Sign In{% endblock %}

{% block content %}

<h1>{% trans 'ID4me Sign In' %}</h1>


<form id="id4me_login_form" class="id4me_login" method="post" action="{% url 'id4me_login' %}">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Sign In</button>
</form>

{% endblock %}
